<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goods.business.mapper.InStockMapper">

    <select id="selectInStockList" resultType="com.goods.common.model.business.InStock">
        select * from biz_in_stock where 1=1
        <if test="status != null and status != ''">
            and status = #{status}
        </if>
        <if test="type != null and type != ''">
            and type = #{type}
        </if>
        <if test="inNum != null and inNum != ''">
            and inNum = #{inNum}
        </if>
        <if test="startTime != null and startTime != ''">
            and startTime = #{startTime}
        </if>
        <if test="endTime != null and endTime != ''">
            and endTime = #{endTime}
        </if>
    </select>
    <select id="selectStockDetail" resultType="com.goods.common.model.business.InStock">
        select * from biz_in_stock where id = #{id}
    </select>
</mapper>